body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 470px;
    gap: 10px;
}

.container > div{
    border: 1px solid black;
    box-sizing: border-box;
}

.container > div:hover {
    
    background-color: orange;
    flex-shrink: 0;
}